/* CourseForm.css */

.container {
    max-width: 600px;
    margin: 0 auto;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    margin-top: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .batches {
    margin-top: 20px;
  }
  
  .batch {
    margin-bottom: 10px;
  }

  /* CourseList.css */

.course-list-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .course-list-heading {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .course-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd; /* Add border to the entire table */
  }
  
  .course-table th, .course-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .course-table th {
    background-color: #f2f2f2;
  }
  
  .course-row:hover {
    background-color: #f9f9f9;
  }
  
  